<!doctype html>
<html lang="it">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>Lillo e Sara</title>
	<meta name="description" content="Lillo e Sara - 26 agosto 2016" />

	<meta property="og:url" content="http://lilloesara.it" />
	<meta property="og:description" content="26 agosto 2016" />
	<meta property="og:title" content="Lillo e Sara" />
	<meta property="og:image" content="http://lilloesara.it/images/backgrounds/1-small.jpg" />

	<link href="http://fonts.googleapis.com/css?family=Pacifico%7CEB+Garamond" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="canonical" href="lilloesara.it">

	@@include('./tmp/svg.svg')
</head>
<body>
	<header class="header header--home">
		<input type="checkbox" id="header__toggle" class="header__toggle">
		<nav class="header__nav">
			<ul>
				<li><a class="header__nav--active" href="#cosa">Cosa</a></li>
				<li><a href="#quando">Quando</a></li>
				<li><a href="#come">Cosadovecome</a></li>
				<li><a href="#dove">Esiste davvero?</a></li>
				<li><a href="#contatti">Come farci sapere</a></li>
			</ul>
		</nav>
		<span class="header__logo">Lillo e Sara</span>
		<label for="header__toggle" class="header__trigger">
			<svg><use xlink:href="#icon-toggle"></use></svg>
		</label>
	</header>

	<main class="main-content">
		<div id="cosa" class="hero panel__fixed panel__fixed--1"></div>

    <div id="quando" class="about panel__scroll panel__scroll--2">
    	<div class="content">
    		<div class="about__intro">
    			<img src="/images/portrait.png">
          Dopo tanto girovagare, le nostre strade si sono inaspettatamente incrociate una sera di mezza estate in una piola torinese. Molte risate, qualche trasloco e un paio di città più tardi, abbiamo deciso di voler percorrere lo stesso cammino, insieme.
		    </div>
    		<input type="checkbox" id="about__toggle" class="about__toggle">
    	</div>
    </div>

		<div class="panel__fixed panel__fixed--2 panel__fixed--half">
			<h2><span>sabato 26 agosto, ore 16:30<br>
				</span></h2>
		</div>

    <div id="come" class="weddings panel__scroll panel__scroll--2">
    	<div class="content">
    		<h3>Cosadovecome</h3><br>
	      <iframe width="100%" height="360" src="https://www.youtube.com/embed/8Azq7vmIll8" frameborder="0" allowfullscreen></iframe><br>
    		<section>
    			Celebreremo il nostro matrimonio alla &nbsp;<u>Villa Le Colombare</u>, una residenza di campagna tra Padova e Vicenza, per l’esattezza a Carmignano di Brenta. La villa è costituita da una casa padronale, una vasta barchessa, una torre ma soprattutto tanto verde e un immenso giardino per la cerimonia e il banchetto, che si svolgerà nella stessa struttura. Vi invitiamo a condividere con noi questo giorno di festa!
    		</section>
    	</div>
    </div>

		<div class="panel__fixed panel__fixed--3 panel__fixed--half">
			<h2><span></span></h2>
		</div>

    <div id="dove" class="events panel__scroll panel__scroll--2">
    	<div class="content">
    		<h3>Come si arriva a Coso di Brenta?</h3>
    		<section>
    			Innanzitutto si chiama Carmignano di Brenta. Esiste, ed è raggiungibile in bus o treno arrivando alla stazione di Vicenza, e in bus arrivando alla stazione di Padova. Gli aeroporti più vicini sono Treviso e Venezia, ma si può atterrare anche a Verona.
			    Il nostro caldo consiglio è comunque quello di affittare un’auto una volta arrivati all’aeroporto prescelto.
		    </section>
    		<section class="content--column">
    			<img src="/images/about-1.jpg">
    			<img src="/images/about-2.jpg">
    		</section>
    		<section class="events__workshop">
    			<h4>Il Veneto offre tanto, oltre al nostro matrimonio</h4>
    			Nei pressi del luogo di ricevimento ci sono svariate strutture che possono ospitare chi viene da fuori, le più vicine sono Hotel Zenit e Hotel Scaldaferro. Per chi volesse fare un po’ di turismo, consigliamo di alloggiare a Cittadella, Bassano del Grappa o Vicenza: non troppo distanti dal luogo di ricevimento e sicuramente affascinanti. Messaggio a cura della Promozione Turistica Regione Veneto.
    		</section>
    	</div>
    </div>

		<div class="panel__fixed panel__fixed--4 panel__fixed--half"></div>

		<div id="dove2" class="gallery panel__scroll panel__scroll--2">
			<div class="content">
    		<section id="conclusioni">
			    <h4>E poi...?</h4>
    			 ... e poi partiamo per il viaggio di nozze, che domande! Voliamo negli Stati Uniti d'America per un coast to coast molto artigianale e organizzato interamente da noi. Non doni, quindi, ma opere di bene: contattateci se vorrete darci una mano a rendere questo viaggio ancor più indimenticabile.
		    </section>
			</div>
    </div>
		<div class="panel__fixed panel__fixed--5 panel__fixed--half"></div>

		@@include('./partials/contact.html')

	</main>
	<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=@@include('./_gmaps_api.key')"></script>
  <script src="https://cdn.rawgit.com/hpneo/gmaps/0.4.24/gmaps.min.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>
