<div id="contatti" class="contact panel__scroll panel__scroll--1">
	<div class="content">
		<div class="contact__info">
			<h3>Contatti</h3>
			<p>Rsvp entro giovedì 1 giugno 2017</p>
			<p><a href="mailto://info@lilloesara.it ">info@lilloesara.it</a></p>
			<p>+39 3400614602</p>
			<p>+39 3331667715</p>
		</div>
		<form class="contact__form" action="/mailer.php" method="POST">
			<div class="contact__input">
				<label for="name">Nome *</label>
				<input type="text" id="name" name="name" required>
			</div>
			<div class="contact__input">
				<label for="email">Email *</label>
				<input type="email" id="email" name="email" required>
			</div>
			<div class="contact__input">
				<label for="phone">Telefono</label>
				<input type="tel" id="phone" name="phone">
			</div>
			<div class="contact__input">
				<label for="message">Messaggio *</label>
				<input type="text" id="message" name="message" required>
			</div>
			<input class="contact__submit" type="submit" value="Invia">
			<p class="contact__form__feedback--ok">Messaggio inviato, Grazie!</p>
			<p class="contact__form__feedback--ko">Ops, si è verificato un problema, riprova più tardi :)</p>
		</form>
	</div>
	<div id="contact__map"></div>
</div>
<footer>
	<p>
		<span>© Copyright 2017 L'ammore!</span>
		<span>Created with ♥ by <a href="https://sirlisko.com">Luca Lischetti</a> (<a href="http://twitter.com/sirLisko">@sirLisko</a>).</span>
	</p>
	<p class="footer__credits">Icons made by <a href="http://www.flaticon.com/authors/daniel-bruce" title="Daniel Bruce">Daniel Bruce</a>, <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></p>
</footer>
